html {
  box-sizing: border-box;
  cursor: default;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.layout {
  margin: 24px;
  background-color: transparent;
}

html .m20 {
  margin: 20px;
}
html .p20 {
  padding: 20px;
}
html .mt10 {
  margin-top: 10px;
}

html .mb10 {
  margin-bottom: 10px;
}

html .mt20 {
  margin-top: 20px;
}

html .mb20 {
  margin-bottom: 20px;
}

html .ml10 {
  margin-left: 10px;
}

html .ml20 {
  margin-left: 20px;
}

html .m10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
html .pd10 {
  padding: 10px;
}
